body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Arial, sans-serif !important;
  text-rendering: optimizeLegibility !important;
}

.shoe-name:hover {
  font-style: italic blue !important;
}



.border-card {
  border: 1px solid #f5f5f5 !important;
  border-radius: 1px !important;
}

.carousel-image {
  opacity: 0.934 !important;
  width: 100% !important;
  height: 100% !important;
  object-fit: fill !important;
}

#resultados{
  font-weight: 600;
  text-shadow: 4px 4px 9px rgba(0,0,0,0.16);
}



/* === BASE HEADING === */ 

h1 {
  position: relative;
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 40px;
  color: #080808;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

/* Style 9
   ----------------------------- */
.nine h1 {
  text-align:center; font-size:50px; text-transform:uppercase; color:#222; letter-spacing:1px;
  font-family:"Playfair Display", serif; font-weight:400;
}
.nine h1 span {
  margin-top: 5px;
    font-size:15px; color:#444; word-spacing:1px; font-weight:normal; letter-spacing:2px;
    text-transform: uppercase; font-family:"Raleway", sans-serif; font-weight:500;

    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-template-rows: 27px 0;
    grid-gap: 20px;
    align-items: center;
}

.nine h1 span:after,.nine h1 span:before {
    content: " ";
    display: block;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    height: 5px;
  background-color:#f8f8f8;
}

/* ------- Helper Styles -------------*/

.nine-div {
  position: relative;
  width: 90%;
  max-width: 500px;
  padding: 2em;
  margin: 1.5em auto;
  border: 3px solid rgba(0, 0, 0, 0.08);
}

h1:before,
h1:after {
  background-color: #c50000;
}

a{
  }

a:hover{
  color: darkgray !important;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {

  .image-container {
    background-color: grey !important;
    height: 186px !important;
  }

  .color-images {
    height: 70px !important;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {

  .image-container {
    background-color: grey !important;
  }

  .color-images {
    height: 80px !important;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .image-container {
    background-color: grey !important;
    height: 200px !important;
  }

  /* Estilos para dispositivos medianos */
  .color-images {
    height: 80px !important;
    object-fit: fill !important;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .image-container {
    background-color: grey !important;
    height: 210px !important;
  }

  .color-images {
    height: 100px !important;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .image-container {
    background-color: grey !important;
    height: 300px;
    width: 303px;
  }
  
  .color-images {
    max-height: 100px !important;
  }
}