body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Roboto', sans-serif !important;
  text-rendering: optimizeLegibility !important;
}


/* Navbar Brand */
.navbar-brand h1 {
  font-size: 1.75rem;
  font-weight: 700;
}

/* Form Check Labels */
.form-check-label {
  margin-left: 0.5rem;
}

.shoe-name:hover {
  font-style: italic blue !important;
}

#carousel {
  object-fit: contain !important;
  overflow: hidden !important;
  height: min-content !important;
}

/* Specific styling for the modal */
#shoe-modal .modal-body,
#shoe-modal .list-group-item,
#shoe-modal .card-body {
  font-family: 'Roboto', sans-serif;
}

#image-carousel {
  width: 100% !important;
}




.border-card {
  border: 1px solid #f5f5f5 !important;
  border-radius: 1px !important;
}

.main-image {
  opacity: 0.934 !important;
  width: 100% !important;
  height: 100% !important;
  object-fit: fill !important;
}

.carousel-image{
  opacity: 0.934 !important;
  object-fit: cover !important;
}

.carousel-image-container{
  background-color: grey !important;
  width: 100%;
}

a:hover {
  color: darkgray !important;
}


.color-images {
  height: 60px !important;
}


/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {

  .main-image-container {
    background-color: grey !important;
    height: 186px !important;
  }

}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {

  .main-image-container {
    background-color: grey !important;
  }

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .main-image-container {
    background-color: grey !important;
    height: 200px !important;
  }


  #width-main-container {
    width: 75% !important;
  }


}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .main-image-container {
    background-color: grey !important;
    height: 210px !important;
  }

  #width-main-container {
    width: 75% !important;
  }

  .overflow-modal-body{
    overflow: hidden !important;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .main-image-container {
    background-color: grey !important;
    width: 100%;
  }

  #width-main-container {
    width: 75% !important;
  }

  .overflow-modal-body{
    overflow: hidden !important;
  }
  
}