body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



/* Para pantallas menores de 576px */
@media (max-width: 575.98px) { 
  .color-images {
    height: 106px !important;
  }
}

/* Para pantallas entre 576px y 768px */
@media (min-width: 576px) and (max-width: 767.98px) { 
  .color-images {
    max-height: 66px !important;
  }
}

/* Para pantallas entre 768px y 992px */
@media (min-width: 768px) and (max-width: 991.98px) { 
  .color-images {
    max-height: 76px !important;
  }
}

/* Para pantallas entre 992px y 1200px */
@media (min-width: 992px) and (max-width: 1199.98px) { 
  .color-images {
    max-height: 76px !important;
  }
}

/* Para pantallas mayores de 1200px (opcional) */
@media (min-width: 1200px) { 
  .color-images {
    max-height: 60px !important; /* Ajusta según sea necesario para pantallas grandes */
  }
}

